/*
.*
!/.*ignore
!/.*rc
!/*.mjs
!/*.html
!/*.json
!/*.toml
!/*.yaml
!/.env.default.properties
!/makefile
!/readme.md
!/todo.md
!/claude.md

!/doc
/doc/*
!/doc/*.md

!/samples
/samples/*
!/samples/*.json
!/samples/*.gd

!/shared
/shared/*
!/shared/*.mjs

!/server
/server/*
!/server/*.mjs
!/server/*.sql

!/client
/client/*
!/client/*.mjs
!/client/wordlist.txt

# TODO merge into `todo.md`.
!/task.md
