/*
.*
!/.*ignore
!/.*rc
!/*.mjs
!/*.html
!/*.json
!/*.toml
!/*.yaml
!/docker*
!/.env.default.properties
!/makefile
!/readme.md
!/claude.md

!/doc
/doc/*
!/doc/*.md

!/samples
/samples/*
!/samples/*.json
!/samples/*.gd

!/shared
/shared/*
!/shared/*.mjs

!/server
/server/*
!/server/*.mjs
!/server/*.sql

!/client
/client/*
!/client/*.mjs
!/client/*.svg
!/client/*.md
!/client/wordlist.txt

!/todo
/todo/*
!/todo/*.md
